In [17]:
pip install mip

Requirement already satisfied: mip in c:\anaconda\lib\site-packages (1.13.0)
Requirement already satisfied: cffi in c:\anaconda\lib\site-packages (from mip) (1.14.3)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi->mip) (2.20)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from scipy import spatial
from mip import Model, xsum, minimize, BINARY, INTEGER
import pandas as pd

In [15]:
# sample2 엑셀 데이터 불러오기

df_sample = pd.read_csv('sample2.csv')

cost=df_sample[['item', 'T', 'C']].drop_duplicates()
demand=df_sample[['item', 'T', 'D']].drop_duplicates()
prepaid=df_sample[['item', 'T', 'P']].drop_duplicates()
cycle =df_sample[['item', 'J', 'T', 'M']].drop_duplicates()

cost1 = cost.dropna(axis=0)
demand1= demand.dropna(axis=0)
prepaid1= prepaid.dropna(axis=0)
cycle1 = cycle.dropna(axis=0)

#df_sample = pd.read_csv('sample.csv')
#cost=df_sample[['item', 'T', 'C']].drop_duplicates()

In [3]:
ijt_set = pd.DataFrame(df_sample[['item', 'J', 'T']].value_counts()).reset_index()[['item', 'J', 'T']]
ijt_set=ijt_set.sort_values(['item']).reset_index(drop=True)
ijt_set

      item    J  T
0   K04031  409  1
1   K04031  426  1
2   K04031  435  1
3   K04031  416  1
4   K04033  409  1
5   K04033  422  1
6   K04033  435  1
7   K04033  404  1
8   K04037  401  2
9   K04037  409  2
10  K04037  426  2
11  K04037  435  2
12  K04046  409  2
13  K04046  411  2
14  K04046  435  2
15  K04046  426  2
16  K04101  408  3
17  K04101  409  3
18  K04101  425  3
19  K04101  426  3
20  K57386  435  6
21  K57386  426  6
22  K57386  408  6
23  K57386  404  6
24  K57791  424  6
25  K57791  437  6
26  K57791  401  6
27  K57791  422  6
28  K61088  408  3
29  K61088  409  3
30  K61088  416  3
31  K61088  437  3
32  K61218  404  5
33  K61218  408  5
34  K61218  426  5
35  K61218  434  5
36  K61606  416  4
37  K61606  434  4
38  K61606  409  4
39  K61606  410  4
40  K62330  404  5
41  K62330  408  5
42  K62330  426  5
43  K62330  435  5
44  K62716  409  4
45  K62716  410  4
46  K62716  416  4
47  K62716  434  4

In [4]:
ijt_df = pd.DataFrame(df_sample[['item', 'J', 'T']].value_counts()).reset_index()[['item', 'J', 'T']]
ijt_df=ijt_df.sort_values(['item']).reset_index(drop=True)
ijt_set = set()
for index, info in ijt_df.iterrows():
    ijt_set.add((info['item'], info['J'], info['T']))

In [5]:
Data = pd.read_csv('sample2.csv', index_col=0)
# set

#T is list of time stamps
T = list(set(df_sample.T))

#I is list of all the itens
I = list(set(df_sample.item))

#J is list of all the machines
J= list(set(df_sample.J))


cit = {}
pit = {}
dit = {}
mijt = {}

In [6]:
for index,info in cost1.iterrows():
    #print(info)
    cit[info['item'], info['T']]  =  info['C']
    
for index,info in prepaid1.iterrows():
    #print(info)
    pit[info['item'], info['T']]  =  info['P'] 
    
for index,info in demand1.iterrows():
    #print(info)
    dit[info['item'], info['T']]  =  info['D']
    
for index,info in cycle1.iterrows():
    #print(info)
    mijt[info['item'], info['J'], info['T']]  =  info['M']
   
#cost = pd.read_csv('cost.csv', index_col=0)
#demand = pd.read_csv('demand.csv', index_col=0)
#prepaid = pd.read_csv('prepaid.csv', index_col=0)

In [7]:
#adding missing values

#cit - 단가

for i in I :
  for t in T :
    key = (i,t)
    if key not in cit :
      cit[i,t]=0


#pit - 선급품/일반품

for i in I :
  for t in T :
    key = (i,t)
    if key not in pit :
      pit[i,t]=0

#dit - 생산목표량

for i in I :
  for t in T :
    key = (i,t)
    if key not in dit :
      dit[i,t]=0

#mijt - cycle time

for i in I :
  for j in J:
    for t in T:
      key=(i,j,t)
      if key not in mijt:
        mijt[i,j,t]=0

In [8]:
# variables
m = Model("Unist_optimization")
xijt = {
    (i, j, t): m.add_var(var_type=INTEGER, name="x_%s,%s,%s" % (i, j, t))
    for i in I for j in J for t in T
}
uit = {
    (i, t): m.add_var(var_type=INTEGER, name="u_%s,%s" % (i, t))
    for i in I for t in T
}

In [9]:
# objective
m.objective = minimize(
    xsum(uit[i, t]*cit[i, t]*pit[i, t] for i in I for t in T)
    )

In [10]:
# constraint
# Constraint 1:-
for i in I:
    for t in T:
        m += (uit[i, t] + xsum(xijt[i, j, t] for j in J) ==  dit[i, t])

# Constraint 2:-
for j in J:
    for t in T:
        m += (xsum(mijt[i, j, t]*xijt[i, j, t] for i in I) <=  600)

# Constraint 3, 4:-
for i in I:
    for j in J:
        for t in T:
            m += (xijt[i, j, t] >= 0)

for i in I:
    for t in T:
        m += (uit[i, t] >= 0)

In [11]:
# Constraint 5
all_set = set()
for i in I:
    for j in J:
        for t in T:
            if (i, j, t) not in ijt_set:
                m += (xijt[i, j, t] == 0)

In [12]:
m.write('model.lp')
m.read('model.lp')
# %%
m.optimize()

In [13]:
solution = []
for i in I:
    for j in J:
        for t in T:
            solution.append([xijt[i, j, t].name, xijt[i, j, t].x])
            solution.append([uit[i, t].name, uit[i, t].x])

solution = pd.DataFrame(
    solution,
    columns=['variable', 'solution'])
solution.sort_values(['variable', 'solution'], inplace=True)
solution.to_csv('solution.csv', index=False)
# %%
m.objective_value
# %%

1377698.0

In [14]:
# solution.csv 파일로 저장됨

solution = pd.read_csv('solution.csv')
solution[solution['solution']>0]

             variable  solution
1          u_K04031,1       1.0
49         u_K04033,1      26.0
1372   x_K04031,416,1     219.0
1564   x_K04031,426,1      96.0
1660   x_K04031,435,1      67.0
1804   x_K04033,404,1      46.0
1900   x_K04033,409,1      58.0
2092   x_K04033,422,1     150.0
2332   x_K04033,435,1      38.0
2439   x_K04037,401,2      20.0
3351   x_K04046,411,2      20.0
3591   x_K04046,426,2     191.0
3687   x_K04046,435,2     159.0
3890   x_K04101,408,3      15.0
4967   x_K57386,426,6     144.0
5159   x_K57791,401,6      55.0
5495   x_K57791,422,6      52.0
5783   x_K57791,437,6     109.0
5906   x_K61088,408,3      48.0
6550   x_K61218,404,5      20.0
7453   x_K61606,416,4      72.0
8422   x_K62330,435,5      40.0
10538  x_K62716,409,4      39.0
12203  x_K62716,416,4      21.0
14913  x_K62716,434,4      60.0